extends layout

block content
  if active
    if missing_info
      .text-center.lead
       | Bạn cần bổ sung các thông tin về giới tính, giọng nói và độ tuổi trước khi tham gia hệ thống 
       a(href='/account') tại đây
    else
      if sentence
        div Hãy đọc lại câu sau
        h2 #{sentence.text}
        div.font-italic Thời gian cho phép: #{sentence.maxDuration}s
        br
        input(type='hidden', name='_sentence', value=fileName)
        form(action='/sentence/remove', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          button#new_sentence.btn.btn-block.btn-info.btn-lg(type='submit' disabled)
            i.fa.fa-recycle
            | Chọn câu khác
        button#universal.btn.btn-block.btn-success.btn-lg(type='button' disabled)
          i.fa.fa-circle
          |  Ghi âm
        br
        h1#timer.text-center 00:00.000
        br

        .btn-group.d-flex(role='group')
          button#discard.btn.btn-warning.btn-lg.w-100(type='button' disabled)
            i.fa.fa-times
            |  Làm lại
          button#upload.btn.btn-primary.btn-lg.w-100(type='button' disabled)
            i.fa.fa-upload
            |  Upload

        #uploading.alert.alert-warning.fade.show.d-none.text-center(role='alert')
          strong Đang upload lên hệ thống. Xin vui lòng chờ
        #upload-succeeded.alert.alert-success.fade.show.d-none.text-center(role='alert')
          strong Upload thành công. Bạn sẽ được chuyển đến trang khác trong giây lát
        #upload-failed.alert.alert-danger.fade.show.d-none.text-center(role='alert')
          strong Upload thất bại. Xin hãy thử lại.

        audio#player(ontimeupdate='playerUpdate()')

      else
        span Bấm nút để lấy câu mới
        form(action='/sentence/assign', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            button#new_sentence.btn.btn-block.btn-primary.btn-lg(type='submit' disabled)
              i.fa.fa-arrow-circle-o-down
              | Lấy câu mới
  

  else
    #{wtf}
    div.text-center.lead Cám ơn bạn đã đăng kí.
    div.text-center.lead Xin hãy chờ hệ thống chấp thuận tài khoản của bạn.